.header{
    display: flex;
    align-items: center;
    margin: 10px;
    background-color: antiquewhite;
    
}
/* .log{
    background-position: right;
} */

.edu{
    background-color: lightgoldenrodyellow;
    margin: 10px;
    padding: 10px;
    border: 10px;

}
.edu >h3{
    background-color: aquamarine;

}
.edu >h2{
    background-color: antiquewhite;


}

.pro{
    background-color: lightblue;
    margin: 10px;
    padding: 10px;
    border: 10px;
}
.pro >h2{
    background-color: antiquewhite;


}
.tech{
    background-color: lightgrey;
    margin: 10px;
    padding: 10px;
    border: 10px;

}.tech >h2{
    background-color: antiquewhite;
    background-clip: conte;


}